In [1]:
import pandas as pd
import numpy as np

from histdata import download_hist_data as dl
from histdata.api import Platform as P, TimeFrame as TF

In [41]:
dl(year='2019', month=None, pair='eurusd', platform=P.META_TRADER, time_frame=TF.ONE_MINUTE)

https://www.histdata.com/download-free-forex-historical-data/?/metatrader/1-minute-bar-quotes/eurusd/2019
{'tk': '1507800ad3526972923b836be67de982', 'date': '2019', 'datemonth': '2019', 'platform': 'MT', 'timeframe': 'M1', 'fxpair': 'EURUSD'}
Wrote to .\DAT_MT_EURUSD_M1_2019.zip

'.\\DAT_MT_EURUSD_M1_2019.zip'

In [93]:
!unzip -p 'DAT_MT_EURUSD_M1_2019.zip'
data_frame = pd.read_csv('DAT_MT_EURUSD_M1_2019.csv', names=['Date','Time', 'Open', 'High','Low','Close', 'Volume'])

In [94]:
data_frame['DateTime'] = data_frame['Date'] + ' ' + data_frame['Time']
del data_frame['Date']
del data_frame['Time']

In [95]:

column_names =['DateTime', 'Open', 'High','Low','Close', 'Volume']
data_frame.set_index('DateTime',inplace=True)




data_frame.index

Index(['2019.01.01 17:02', '2019.01.01 17:03', '2019.01.01 17:04',
       '2019.01.01 17:05', '2019.01.01 17:06', '2019.01.01 17:07',
       '2019.01.01 17:08', '2019.01.01 17:09', '2019.01.01 17:10',
       '2019.01.01 17:11',
       ...
       '2019.12.31 16:50', '2019.12.31 16:51', '2019.12.31 16:52',
       '2019.12.31 16:53', '2019.12.31 16:54', '2019.12.31 16:55',
       '2019.12.31 16:56', '2019.12.31 16:57', '2019.12.31 16:58',
       '2019.12.31 16:59'],
      dtype='object', name='DateTime', length=372530)

In [96]:
data_frame.index = pd.to_datetime(data_frame.index)

In [97]:
data_ask = data_frame['Open'].resample('15Min').ohlc()

In [99]:
data_ask['volume'] = data_ask['high'] - data_ask['low']

In [100]:
data_ask

                        open     high      low    close   volume
DateTime
2019-01-01 17:00:00  1.14598  1.14665  1.14598  1.14607  0.00067
2019-01-01 17:15:00  1.14607  1.14617  1.14605  1.14605  0.00012
2019-01-01 17:30:00  1.14611  1.14626  1.14605  1.14626  0.00021
2019-01-01 17:45:00  1.14627  1.14628  1.14605  1.14610  0.00023
2019-01-01 18:00:00  1.14605  1.14664  1.14604  1.14655  0.00060
...                      ...      ...      ...      ...      ...
2019-12-31 15:45:00  1.12155  1.12171  1.12154  1.12171  0.00017
2019-12-31 16:00:00  1.12174  1.12174  1.12142  1.12147  0.00032
2019-12-31 16:15:00  1.12147  1.12148  1.12138  1.12142  0.00010
2019-12-31 16:30:00  1.12143  1.12150  1.12137  1.12142  0.00013
2019-12-31 16:45:00  1.12136  1.12137  1.12099  1.12099  0.00038

[34944 rows x 5 columns]

In [ ]:
data_ask.columns