In [1]:
import pandas as pd
import numpy as np

from histdata import download_hist_data as dl
from histdata.api import Platform as P, TimeFrame as TF


import matplotlib.pyplot as plt
from mpl_finance import candlestick_ohlc
import pandas as pd
import matplotlib.dates as mpl_dates
import matplotlib.dates as mdates
import mplfinance as mpf
import plotly.graph_objects as go

E:\Anaconda3\lib\site-packages\mpl_finance.py:22: DeprecationWarning:

  =================================================================

   WARNING: `mpl_finance` is deprecated:

    Please use `mplfinance` instead (no hyphen, no underscore).

    To install: `pip install --upgrade mplfinance`

   For more information, see: https://pypi.org/project/mplfinance/

  =================================================================

  category=DeprecationWarning)

In [2]:
dl(year='2019', month='6', pair='eurusd', platform=P.GENERIC_ASCII, time_frame=TF.TICK_DATA)

https://www.histdata.com/download-free-forex-historical-data/?/ascii/tick-data-quotes/eurusd/2019/6
{'tk': 'bf6856b7e2ab03811c92d3253e89a88d', 'date': '2019', 'datemonth': '201906', 'platform': 'ASCII', 'timeframe': 'T', 'fxpair': 'EURUSD'}
Wrote to .\DAT_ASCII_EURUSD_T_201906.zip

'.\\DAT_ASCII_EURUSD_T_201906.zip'

In [3]:
!unzip -p 'DAT_ASCII_EURUSD_T_201906.zip'

In [4]:
my_dtypes = {'Date': 'str', 'Bid': 'float', 'Ask': 'float', 'Volume': 'int'}

In [5]:
do = pd.read_csv('DAT_ASCII_EURUSD_T_201906.csv', names=['Date','Bid', 'Ask', 'Volume'], dtype=my_dtypes)
data_frame = do

In [6]:

# new data frame with split value columns 
new = data_frame["Date"].str.split(" ", n = 1, expand = True) 
  
# making separate first name column from new data frame 
data_frame["Date"]= new[0] 
  
# making separate last name column from new data frame 
data_frame["Time"]= new[1] 
do = data_frame

In [7]:
data_frame = do

In [8]:
data_frame['date'] = pd.to_datetime(data_frame.Date.astype(str) + data_frame.Time.astype(str).str.zfill(9),
                                format='%Y%m%d%H%M%S%f')

column_names = ['date','Date','Time','Bid', 'Ask', 'Volume']
data_frame = data_frame[column_names]
del data_frame['Date']
del data_frame['Time']
data_frame.index = pd.to_datetime(data_frame.index, unit='s')
data_frame = data_frame.set_index('date')
data_frame.index = pd.to_datetime(data_frame.index)

In [9]:
data_frame

                             Bid      Ask  Volume
date
2019-06-02 17:01:02.358  1.11607  1.11683       0
2019-06-02 17:01:03.578  1.11607  1.11688       0
2019-06-02 17:01:04.408  1.11607  1.11692       0
2019-06-02 17:01:52.880  1.11613  1.11692       0
2019-06-02 17:01:53.649  1.11630  1.11691       0
...                          ...      ...     ...
2019-06-30 23:59:35.751  1.13526  1.13529       0
2019-06-30 23:59:37.212  1.13526  1.13528       0
2019-06-30 23:59:37.316  1.13526  1.13529       0
2019-06-30 23:59:53.813  1.13526  1.13528       0
2019-06-30 23:59:57.184  1.13526  1.13529       0

[2473606 rows x 3 columns]

In [ ]:
#data_frame.index =  mdates.date2num(data_frame.index)

data_bid = data_frame['Bid'].resample('240Min').ohlc()
data_bid['volume'] = data_bid['high'] - data_bid['low']

data_bid = data_bid.rename(columns={"open": "Open", "high": "High", "low": "Low", "close": "Close", "volume": "Volume"})

In [ ]:
mpf.plot(data_bid,type='ohlc',mav=4)

In [ ]:
plt.style.use('ggplot')

In [ ]:
data_bid = data_bid.dropna()

In [ ]:
# Setting labels & titles
from mpl_finance import candlestick_ohlc

ax = plt.subplot()
ax.grid(True)
ax.set_axisbelow(True)
ax.set_title('AAPL Share Price', color='white')
ax.set_facecolor('black')
ax.figure.set_facecolor('#121212')
ax.tick_params(axis='x', colors='white')

ax.xaxis_date()
candlestick_ohlc(ax, data_bid)
ax.xaxis_date()


plt.show()

In [ ]:
data_frame

In [ ]:
fig = go.Figure(data=[go.Candlestick(x=data_bid.index,
                open=data_bid['Open'],
                high=data_bid['High'],
                low=data_bid['Low'],
                close=data_bid['Close'])])

fig.show()

In [ ]:
data_bid